/* CSS 기본 셋팅 */
@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'AstaSans';
}
a {
  all: unset;
  cursor: pointer;
}

#wrap {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #161616;
}

.upbox{
    margin: 148px 350px 114px;
}

.upbox h3 {
    color: #fff;
    font-size: 48px;
}

.downbox {
    color: #fff;
    font-size: 38px;
    margin: 0px 350px;
    transform: translateY(-8%);
}

.downupbox {
    display: flex;
    transform: translateY(50%);
    justify-content: flex-start;
}
.downdownbox {
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
}

.downcenterbox {
    display: flex;
    justify-content: space-between;
}

.downcenterbox img {
    object-fit: contain;
} 
.downcenterbox img:first-child {
    padding-top: 20.5%;
}
.downcenterbox img:last-of-type {
    padding-bottom: 20.5%;
}