*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.history {
    position: relative;
    height: 100vh;
    background: url('../기타파일/section02.jpg') center/cover no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.history-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.history-inner {
    position: relative;
    height: 100%;
    z-index: 2;
}

/* 중앙 라인 */
.timeline-line {
    position: absolute;
    top: 50%;
    width: 77%;
    height: 2px;
    background: #838383;
}
.first-line {
    position: absolute;
    top: 32%;
    width: 29%;
    transform: translateX(50%);
    border-left: 2px solid #838383;
    height: 175px;
}
.second-line {
    position: absolute;
    top: 50%;
    width: 61%;
    transform: translateX(50%);
    border-left: 2px solid #838383;
    height: 175px;
}
.third-line {
    position: absolute;
    top: 32%;
    width: 93%;
    transform: translateX(50%);
    border-left: 2px solid #838383;
    height: 175px;
}
.fourth-line {
    position: absolute;
    top: 50%;
    width: 129%;
    transform: translateX(50%);
    border-left: 2px solid #838383;
    height: 175px;
}

/* 타임라인 아이템 */
.timeline-item {
    position: absolute;
    width: 250px;
    transform: translateY(-50%);
}

.timeline-item.top {
    top: 42%;
}

.timeline-item.bottom {
    top: 58%;
}

.dot {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    /* margin-bottom: 10px; */
}
.timelinedot {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 49%;
    /* margin-bottom: 10px; */
}
.first1 {
    left: 14%;
}
.first-first {
    width: 100px;
    height: 100px;
    left: 12%;
    background: #313131;
    border-radius: 50%;
    position: absolute;
    top: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second2 {
    left: 30%;
}
.second-first {
    width: 100px;
    height: 100px;
    left: 44%;
    background: #313131;
    border-radius: 50%;
    position: absolute;
    top: 22%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third3 {
    left: 46%;
}
.third-first {
    width: 100px;
    height: 100px;
    left: 28%;
    background: #313131;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth4 {
    left: 64%;
}
.fourth-first {
    width: 100px;
    height: 100px;
    left: 62%;
    background: #313131;
    border-radius: 50%;
    position: absolute;
    top: 68%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* 텍스트 */
.timeline-item h4 {
    font-size: 32px;
    margin-bottom: 6px;
}

.timeline-item p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.9;
}

/* 로고 */
.history-logo {
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
}
.historycircle2 {
    width: 344px;
    height: 344px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.historycircle {
    width: 306px;
    height: 306px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-circle {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    flex-direction: column;
    background-color: white;
}
.logo-circle p:first-of-type {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}
.logo-circle p:last-of-type {
    color: #000;
    font-size: 14px;
}
.logo-circle img {
    filter: 
    brightness(0)
    saturate(0);
}