/* section01 영역 설정들 */
#MainSection01 .swiper {
  width: 100%;
  height: 100%;
}
#MainSection01 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 950px;
  object-fit: cover;
  filter: brightness(20%);
  background-repeat: no-repeat;
  background-position: center;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.slider-box {
  position: relative;
  margin: 0 auto;
}
.btnbox {
  width: auto;
  margin-left: 76px;
  margin-right: 76px;
}
.slide-inner {
  position: absolute;
  left: 0;
  bottom: 4rem;
  /* max-width: 600px; */
  padding-left: 20%;
  color: white;
}
.slide-title { font-size: 28px; font-weight: bold; margin:0; }
.slide-sub { font-size: 16px; margin:0.5rem 0; }
.slide-btn { padding: 8px 16px; background:white; border-radius:6px; font-weight:bold; cursor:pointer; border:none; }
.section01 {
  position: relative;
  background-image: url('../기타파일/section01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(20%);
}
.section01-text {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  color: #ffffff;
  padding: 0rem 21.875rem;
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
}
.section01-text-01,
.section01-text-03,
.section01-text-04 {
  font-size: 70px;
  font-weight: 700;
  text-align: left;
}
.section01-text-02 {
  position: relative;
  margin-top: 33px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  line-height: 25px;
  color: grey;
}

.first,
.second,
.third {
  position: relative;
  margin-top: 33px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  line-height: 25px;
  color: grey;
}

.btnbox .swiper-button-prev,
.btnbox .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 8;
}
.btnbox .swiper-button-prev { left: 72px; }
.btnbox .swiper-button-next { right: 72px; }


.section01-scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26.6px;
  font-weight: 400;
  color: #fff;
  animation: scrollBlink 1.6s infinite ease-in-out;

}

/* 스크롤 깜빡임 */
.scroll-01 {
  font-size: 30px;
  text-align: center;
}
.section01-scroll {
  opacity: 0.7;
}

.section01-scroll:hover {
  opacity: 1;
}

@keyframes scrollBlink {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}


div .section01-text-01 {
  animation-duration: 1s;
  animation-name: fade-in-right;
}
div .section01-text-02 {
  animation-duration: 2.2s;
  animation-name: fade-in-right;
}
.first {
  animation-duration: 1.6s;
  animation-name: fade-in-right;
}
.second {
  animation-duration: 2.2s;
  animation-name: fade-in-right;
}
.third {
  animation-duration: 2.8s;
  animation-name: fade-in-right;
}
div .section01-text-03 {
  animation-duration: 1.6s;
  animation-name: fade-in-right;
}
div .section01-text-04 {
  animation-duration: 2.2s;
  animation-name: fade-in-right;
}
/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 1000px) {
  .section01-text-02 {
    display: none;
  }
}





/* section 설정 */
/* .section01, .section03 {
  width: 100%;
  height: 950px;
} */
 .section01 {
  width: 100%;
  height: 950px;
}