#section06 {
    /* display: flex;
    flex-direction: column; */
    height: 702px;
    background-color: #161616;
    position: relative;
}
.dnbox {
    width: 100%;
    height: 100%;
    gap: 21px;
    color: #fff;
    position: relative;
}
.dnbox h3 {
    max-width: 1220px;
    font-size: 43px;
    margin: 0 auto;
    padding-bottom: 21px;
}
.dnbox p {
    font-size: 24px;
    max-width: 1220px;
    margin: 0 auto;
}
.ubox {
    width: 100%;
    height: 156px;
}
.backgroundtext {
    font-size: 342.1px;
    font-weight: 900;
    text-align: center;
    opacity: 0.01;
    transform: translateY(-80%);
}


.carousel {
    padding: 90px 0;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 1;
}

.card img {
    width: 100%;
    /* width: 160px; */
    height: 50px;
    object-fit: contain;
}

.card {
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 90px;
    flex-shrink: 0;        /* ❗ 줄어들지 않게 */
    display: flex;
}

.carousel {
    &:hover .group {
        animation-play-state: paused;
    }
}

.group {
    will-change: transform;
    /* 브라우저에 애니메이션할 것을 미리 알려 친절하게 대하세요. */
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel {

    /* ... */
    >* {
        flex: 0 0 100%;
    }
}

/* 더 나은 구조를 위해 카드를 그룹으로 묶습니다. */
.group {
    display: flex;
    width: max-content;
    gap: 20px;
    /* 마지막 카드와 첫 번째 카드 사이에 여백을 만들기 위해 우측에 패딩을 추가합니다. */
    padding-right: 20px;
}

.backgroundtext {
    z-index: -1;
}

/* @media (max-width: 1440px) {
    .group {
        display: none;
    }
} */