.swiper {
    width: 100%;
    height: 337px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.swiper-slide img {
    display: block;
    width: 83px;
    height: 250px;
    object-fit: cover;
    transform: translateY(-20%);
}

/* .swiper-wrapper {
    height: 337px;
} */
.sub-section04 {
    background-color: #161616;

}
#section04 {
    width: 100%;
    height: 837px;
}

.upupbox {
    color: #fff;
    padding: 141px 542px 119px 352px;
    display: flex;
    justify-content: space-between;
}

.upupbox-first {
    font-size: 20px;
    font-weight: bold;
}

.upupbox-second {
    font-size: 30px;
    font-weight: 500;
}

.section04-head {
    font-size: 101.92px;
    font-weight: 900;
    color: #919191;
}
.swiper-slide:hover .section04-head {
    color: #fff;
    transition: color 0.3s ease;
}
/* .section04-head-1 {
    font-size: 101.92px;
    font-weight: 900;
    color: #919191;
} */
.abcdefg {
    font-size: 20px;
    color: #fff;
    transform: translateX(70%) translateY(-200%);
    text-align: left;
    opacity: 0;
}
.swiper-slide:hover .abcdefg {
    opacity: 1;
    transition: color 0.3s ease;
}
.abcdefg p:first-child {
    color: #919191;
    font-size: 20px;
}
.abcdefg p:last-of-type {
    font-size: 24px;
}

.autoplay-progress {
        position: absolute;
        left: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #fff;
      }

      .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: #fff;
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
      }

@media (max-width: 768px) {
  .swiper-slide img {
    width: 70px;
    height: 200px;
    transform: translateY(-10%);
  }
}

@media (max-width: 480px) {
  .swiper-slide img {
    width: 60px;
    height: 180px;
    transform: none;
  }
}
.section04-body {
    display: flex;
    justify-content: center;
}