.brand-section {
  background: #111;
  color: #fff;
  padding: 141px 0;
  text-align: center;
}

.brandsog {
  font-size: 32px;
  font-weight: 900;
}

.brand-head h2 {
  font-size: 60px;
  margin-bottom: 24px;
}

.closesee {
  font-size: 18px;
}

.brand-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-name {
  font-size: 20px;
  opacity: 0.4;
  margin-bottom: 20px;
  transition: all 0.6s ease;
}

.product-img {
  width: 180px;
  transform: translateY(-40px);
  opacity: 0;
  transition: all 0.6s ease;
}

.product-name {
  margin-top: 16px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.6s ease;
}

/* ⭐ 활성 슬라이드 */
.swiper-slide-active .product-img {
  transform: translateY(0);
  opacity: 1;
}

.swiper-slide-active .product-name {
  opacity: 1;
}

.swiper-slide-active .brand-name {
  opacity: 1;
}

.brand-swiper {
  margin-top: 25px;
}