/* CSS 기본 셋팅 */
@font-face {
  font-family: 'AstaSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'AstaSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'AstaSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'AstaSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'AstaSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'AstaSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'AstaSans';
}

a {
  all: unset;
  cursor: pointer;
}


/* -------헤더 메뉴창 테스트 */
/* .menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
  z-index: 1000;
}

.menu-overlay.is-open {
  opacity: 1;
  visibility: visible;
}
.menu-panel {
  position: absolute;
  inset: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
}

.menu-overlay.is-open .menu-panel {
  transform: translateY(0);
}
.menu-nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-nav a {
  font-size: 24px;
  font-weight: 600;
  color: #111;
  text-decoration: none;
}
.menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {

  .menu-nav ul {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .menu-nav a {
    font-size: 20px;
  }
} */





/* .section02 {
  display: block;
  width: 100%;
  height: 950px;
  object-fit: cover;
  filter: brightness(20%);
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(20%);
} */

/* section03 영역 설정 */
/* .section03 {
  display: flex;
} */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}











/* section04 영역 설정 */
.section04 {
  height: 1000px;
  background-image: url('../기타파일/sec.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section04-title {
  width: 100%;
  text-align: center;
  color: red;
}

.section04-title p:first-child {
  font-size: 32px;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 23px;
  padding-top: 141px;
}

.section04-title p:nth-child(2) {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
}

.close {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: medium;
  margin-top: 16px;
}

.brand-line {
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  margin-top: 5px;
}


.section04-brand-area {
  margin-top: 76px;
  height: 320px;
}

.mySwiper {
  height: 100%;
}

/* .swiper-button-next-next,
.swiper-button-prev-prev {
  left: 40px;
  right: 40px;
  width: 100% ;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}
.brand-pagination {
position: absolute;
display: flex;
} */

/* footer 영역 설정 */
.footer-last {
  width: 100%;
  height: 294px;
  background-color: black;
}










.sitemap-list-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.sitemap-list-wrap .d-t {
  min-width: 1370px;
}

.d-t {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.d-t .d-c {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.sitemap-list-wrap .map-list>ul {
  padding: 0 105px;
  box-sizing: border-box;
}

ul,
ol,
dl {
  list-style-type: none;
}

.sitemap-list-wrap .map-list>ul>li {
  float: left;
  width: 20%;
  padding: 0 20px;
  box-sizing: border-box;
}

.sitemap-list-wrap .map-list dt {
  padding-bottom: 34px;
  border-bottom: 2px solid #e5e5e5;
  font-size: 36px;
  color: #222;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.1em;
}

.sitemap-list-wrap .map-list dt span {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: 'Roboto';
  color: #aaa;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 8.8px;
}

.sitemap-list-wrap .map-list dt+dd {
  margin-top: 30px;
}

.sitemap-list-wrap .map-list dd a {
  display: inline-block;
  height: 36px;
  font-size: 18px;
  color: #666;
  line-height: 36px;
  box-sizing: border-box;
  border-bottom: 3px solid #fff;
}