/* CSS 기본 셋팅 */
@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'AstaSans';
}

/* Header 설정 */
.head {
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 10;
  top: 0;
}
.flex {
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: center; */
    align-items: center;
}
/* 여기부터 시작 */
.head-container {
  margin: 39px 233px;
}

.head-brandlogo {
  width: 141px;
  height: 32px;
  background-image: url('../기타파일/동화약품로고.png');
  background-size: cover;
}

.head-last {
  display: flex;
  align-items: center;
}

.head-brand {
  width: auto;
  flex-grow: 1;
}

.head-gnb {
  width: 744px;
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.head-hamburger {
  display: flex;

}

.head-brand, .head-search, .head-hamburger {
  color: #ffffff;
}


.abcd {
  width: 100%;
}



/* section01 영역 설정들 */
.section01 {
  position: relative;
  background-image: url('../기타파일/section01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(20%);
}
.section01-text {
  width: auto;
  height: auto;
  color: #ffffff;
  margin: 0rem 21.875rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section01-text-01 {
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.section01-text-02 {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
.section01-slide-btn {
  position: absolute;
  top: 50%;
  font-size: 40px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.prev { left: 30px; }
.next { right: 30px; }

.section01-scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26.6px;
  font-weight: 400;
  color: #fff;
}
.scroll-01 {
  font-size: 30px;
}


/* section 설정 */
.section01, .section03 {
  width: 100%;
  height: 950px;
}


.section02 {
  height: 1000px;
  background-image: url('../기타파일/section02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(20%);
}
/* .section03 {
} */
.section04 {
  height: 1000px;
  background-image: url('../기타파일/sec.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/* footer 영역 설정 */
.footer-last {
  width: 100%;
  height: 294px;
  background-color: black;
}