/* CSS 기본 셋팅 */
@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'AstaSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2505-1@1.0/AstaSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'AstaSans';
}
a {
  all: unset;
}
/* Header 설정 */
.head {
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 10;
  top: 0;
}
.flex {
    display: flex;
    align-items: center;
}
/* 여기부터 시작 */
.head-container {
  margin: 39px 233px;
  position: relative;
}
.amain {
  cursor: pointer;
}
.head-brandlogo {
  width: 141px;
  height: 32px;
  background-image: url('../기타파일/동화약품로고.png');
  background-size: cover;
}
.head-last {
  display: flex;
  align-items: center;
  width: 374px;
  justify-content: space-between;
}

.head-brand {
  width: auto;
  display: contents;
}
.head-gnb {
  width: 744px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  /* position: relative; */
}
.head-hamburger {
  display: flex;
  gap: 10px;
}

.head-hamburger a {
  display: contents;
}
.head-brand, .head-search, .head-hamburger {
  color: #ffffff;
}
.head-search input {
  line-height: 30px; /* 줄 높이를 필드 높이와 동일하게 */
  text-align: left;
}
.head-gnb a:hover {
  /* color: rgb(255, 255, 255); */
  cursor: pointer;
}
.head-search input {
  width: 250px;
  height: 30px;
  background-color: transparent;
  border-radius: 23.5px;
  border: 1px solid white;
  color: #fff;
}
input::placeholder {
  padding-left: 20px;
  color: #fff;
}

/* section01 영역 설정들 */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 950px;
  object-fit: cover;
  filter: brightness(20%);
  background-repeat: no-repeat;
  background-position: center;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.slider-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.slide-inner {
  position: absolute;
  left: 0;
  bottom: 4rem;
  /* max-width: 600px; */
  padding-left: 20%;
  color: white;
}
.slide-title { font-size: 28px; font-weight: bold; margin:0; }
.slide-sub { font-size: 16px; margin:0.5rem 0; }
.slide-btn { padding: 8px 16px; background:white; border-radius:6px; font-weight:bold; cursor:pointer; border:none; }
.section01 {
  position: relative;
  background-image: url('../기타파일/section01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(20%);
}
.section01-text {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  color: #ffffff;
  padding: 0rem 21.875rem;
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
}
.section01-text-01,
.section01-text-03,
.section01-text-04 {
  font-size: 70px;
  font-weight: 700;
  text-align: left;
}
.section01-text-02 {
  position: relative;
  margin-top: 33px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  line-height: 25px;
  color: grey;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 10;
}
.swiper-button-prev { left: 20px; }
.swiper-button-next { right: 20px; }


.section01-scroll {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26.6px;
  font-weight: 400;
  color: #fff;
}
.scroll-01 {
  font-size: 30px;
  text-align: center;
}

div .section01-text-01 {
  animation-duration: 1s;
  animation-name: fade-in-right;
}
div .section01-text-02 {
  animation-duration: 2.2s;
  animation-name: fade-in-right;
}
div .section01-text-03 {
  animation-duration: 1.6s;
  animation-name: fade-in-right;
}
div .section01-text-04 {
  animation-duration: 2.2s;
  animation-name: fade-in-right;
}
/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}




/* section 설정 */
.section01, .section03 {
  width: 100%;
  height: 950px;
}

.section02 {
  height: 1000px;
  background-image: url('../기타파일/section02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(20%);
}

/* section03 영역 설정 */
.section03 {
  display: flex;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}











/* section04 영역 설정 */
.section04 {
  height: 1000px;
  background-image: url('../기타파일/sec.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section04-title {
  width: 100%;
  text-align: center;
  color: red;
}
.section04-title p:first-child {
  font-size: 32px;
  color: #fff;
  font-weight:bolder;
  margin-bottom: 23px;
  padding-top: 141px;
}
.section04-title p:nth-child(2) {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
}
.close {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: medium;
  margin-top: 16px;
}
.brand-line {
  width: 100%;
  height: 2px;
  background: rgb(255, 255, 255);
  margin-top: 5px ;
}

.section04-brand-area {
  margin-top: 76px;
  height: 320px;
}

.mySwiper {
  height: 100%;
}
/* .swiper-button-next-next,
.swiper-button-prev-prev {
  left: 40px;
  right: 40px;
  width: 100% ;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  z-index: 5;
}
.brand-pagination {
position: absolute;
display: flex;
} */

/* footer 영역 설정 */
.footer-last {
  width: 100%;
  height: 294px;
  background-color: black;
}