.section03 {
  background: #000;
  padding: 120px 0;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 260px;
  gap: 24px;
}

/* 카드 공통 */
.card {
  position: relative;
  overflow: hidden;
  background: #b37a7a;
  color: #fff;
  text-decoration: none;
}

.card.tall {
  grid-row: span 2;
}

.card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: transform .6s ease, filter .6s ease;
  /* padding: 8px; */
}
.card .img2 {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform .6s ease, filter .6s ease;
  /* margin: 8px; */
}

/* 기본 hover */
.card:hover img {
  transform: scale(1.08);
  filter: brightness(0.85);
}

/* 오버레이 */
.overlay {
  position: absolute;
  inset: auto 20px 20px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center
}

.overlay strong {
  display: block;
  font-size: 18px;
}

.category {
  font-size: 12px;
  opacity: 0.7;
}

.arrow {
  font-size: 18px;
  transition: transform .3s ease;
}

.card:hover .arrow {
  transform: translateX(6px);
}

/* EMALL 가로형 */
.overlay.horizontal {
  top: auto;
}

/* DRINK hover swap */
.drink .image-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-default,
.img-hover {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .6s ease, transform .6s ease;
}

.img-hover {
  opacity: 0;
  transform: scale(1.05);
}

.drink:hover .img-default {
  opacity: 0;
}

.drink:hover .img-hover {
  opacity: 1;
  transform: scale(1);
}

/* DRINK 텍스트 */
.drink-overlay {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: flex-start;
}

.drink-overlay p {
  font-size: 13px;
  line-height: 1.5;
  margin: 12px 0;
  opacity: 0;
  transform: translateY(10px);
  transition: .4s ease;
}

.drink:hover .drink-overlay p {
  opacity: 1;
  transform: translateY(0);
}

.drink-overlay button {
  background: none;
  border: 1px solid rgba(255,255,255,.5);
  color: #fff;
  padding: 8px 14px;
  font-size: 12px;
}
/* section03 영역 설정 */
/* .section03 {
  display: flex;
} */
.video {
    position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}