@charset "utf-8";
@import url("/index/css/font-1fc3d240723ee0921dc88d0262f48771.css");
/*==============================================

        FLUX
    (,,◕　⋏　◕,,)
    ----------------------------------------------------------------
    * Date          :   2018.07.11
    * Modify        :
    * Name      :   reset.css
    * Author        :   neoflux.co.kr
    ----------------------------------------------------------------

    - Description -

    00. reset           :   css 초기화

==============================================*/


/* ===========================
    00. reset
=========================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0px; padding:0px; vertical-align:top;}
body {width:100%; /*min-width:1920px;*/ color:#222; font-family:'Noto Sans KR', sans-serif; font-size:14px; font-weight:400; line-height:1; letter-spacing:-0.025em; word-break:break-all;}
html , body {position:relative; height:100%;}
ul, ol, dl {list-style-type:none;}
h1, h2, h3, h4, h5, h6, th {font-weight:400;}
table {border-collapse:collapse; border-spacing:0; word-break:break-all;}
table th {font-weight:400;}
img, button, fieldset, abbr, acronym {border:0;}
label {cursor:pointer;}
address, caption, cite, code, dfn, em, var {font-style:normal; font-weight:normal;}
strong {font-weight:normal;}
caption, legend {width:0px; height:0px; font-size:0px; line-height:0px; visibility:hidden;}
/*img {max-width:100%;}*/
q:before, q:after {content:'';}
hr {display:none;}

/* html5 ie9 else */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block; padding:0; margin:0;}


.d-t{display:table;width:100%;height:100%;table-layout:fixed}
.d-t .d-c{display:table-cell;width:100%;vertical-align:middle}

a {text-decoration:none;color:#646464;cursor:pointer;}
a:link, a:visited {text-decoration:none;color:#646464;}
a:hover, a:focus, a:active {background:none;text-decoration:none;}

html.fix {overflow-y:hidden;}

#wrap {opacity:0; transition:opacity 0.5s ease;}
#wrap.open {opacity:1;}

.roboto{font-family:'Roboto' !important;}

#menu {position:absolute; top:60px; left:50px; display:block; width:30px; height:24px; z-index:100; outline:none; border:none; background:none; cursor:pointer;}
#menu:before {content:''; position:absolute; top:0; left:0; display:block; width:30px; height:2px; background:#fff; transition:width 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940)}
#menu:after {content:''; position:absolute; top:22px; left:0; display:block; width:30px; height:2px; background:#fff; transition:width 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940)}
#menu span {position:absolute; top:11px; left:0; display:block; font-size:0; width:20px; height:2px; background:#fff; transition:width 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940)}
#menu:hover span {width:30px !important; transition-delay:0s !important;}

.back-wrap {position:fixed; top:0; left:0; display:block; width:100%; display:none;  z-index:1500; }
#back {position:absolute; top:50px; right:50px; display:block; font-family:'Roboto'; font-size:12px; color:#fff; font-weight:500; padding-bottom:15px; width:84px; text-align:right; background:url(/index/images/btn_page_back-cb7e467c3c307e103ecc4e19cc217a69.png) right bottom no-repeat; cursor:pointer;}

.window-content{position:relative; max-width:1920px; min-height:768px; box-sizing:border-box;margin:0 auto;}

#sitemap {position:fixed; top:0; right:0; display:block; width:0; height:100%; z-index:500; overflow:hidden; transition:width 0s 0.95s ease;}
#sitemap.open {width:100%; transition-delay:0s;}
#sitemap.open .inner-cell {left:0; right:auto; width:100%;}
#sitemap.open .inner-data {left:0; right:auto;-ms-transform: translate(0%, 0%); transform: translate(0%, 0%);}
#sitemap.close .inner-data {-ms-transform: translate(0%, 0%); transform: translate(0%, 0%); transition-duration:0.95s;}
#sitemap .inner {height:100%; overflow:hidden;}
#sitemap .inner-cell {position:absolute; top:0; right:0; display:block; width:0; height:100%;transition:width 0.95s cubic-bezier(0.785, 0.135, 0.150, 0.860); background-color:#fff; overflow:hidden;}
#sitemap .inner-data {position:absolute; top:0; right:0; padding-left:360px; -ms-transform: translate(0%, 0%); transform: translate(%, 0%); transition:transform 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);}
#sitemap h3 {position:absolute; top:0; left:0; display:block; width:360px; height:100%; background:url(/index/images/sitemap_title_bg-7eb8eb51f286420deb9dad16f6e53903.jpg) left top no-repeat; background: linear-gradient(180deg, rgba(0,74,152,1) 0%, rgba(0,85,200,1) 30%, rgba(0,205,111,1) 100%);}
#sitemap h3 span{position:absolute; top:50%; left:0; display:block; width:100%; font-family:'Roboto'; font-size:16px; color:#fff; letter-spacing:8px; font-weight:700; padding:0 50px; box-sizing:border-box; -ms-transform: translate(0%, -50%); transform: translate(0%, -50%);}
#sitemap h3 span:before {content:''; position:absolute; top:50%; right:50px; display:block; width:112px; height:2px; margin-top:-1px; background:#fff;}
#sitemap .copy-art > p {position:absolute; font-family:'Roboto'; font-size:600px; color:#7b7b7b; opacity:0.05; font-weight:700; }
#sitemap .copy-art .copy-01 {top:-250px; right:400px;}
#sitemap .copy-art .copy-02 {top:155px; right:-50px;}
#sitemap .copy-art .copy-03 {bottom:-280px; right:155px;}

.sitemap-list-wrap {position:relative; width:100%; height:100%; z-index:5; overflow:auto; overflow-y:hidden;}
.sitemap-list-wrap .d-t {min-width:1370px;}

.sitemap-list-wrap {position:relative; width:100%; height:100%; z-index:5;}
.sitemap-list-wrap .map-list > ul {padding:0 30px;}
.sitemap-list-wrap .map-list > ul:after {content:''; display:block; clear:both;}
.sitemap-list-wrap .map-list > ul > li {float:left; width:20%; padding:0 20px; box-sizing:border-box;}
.sitemap-list-wrap .map-list dt {padding-bottom:34px; border-bottom:2px solid #e5e5e5; font-size:36px; color:#222; font-weight:500; line-height:40px; letter-spacing:-0.1em;}
.sitemap-list-wrap .map-list dt span {display:block; margin-bottom:15px; font-size:18px; font-family:'Roboto'; color:#aaa; line-height:18px; font-weight:400; letter-spacing:8.8px;}
.sitemap-list-wrap .map-list dt + dd {margin-top:30px;}
.sitemap-list-wrap .map-list dd {margin-top:18px;}
.sitemap-list-wrap .map-list dd a {display:inline-block; height:36px; font-size:18px; color:#666; line-height:36px; box-sizing:border-box; border-bottom:3px solid #fff}
.sitemap-list-wrap .map-list dd a:hover {color:#004a98; font-weight:700; border-bottom-color:#004a98;}



#search-con {position:fixed; top:0; right:0; display:block; width:0; height:100%; z-index:500; overflow:auto; transition:width 0s 0.95s ease;}
#search-con.open {width:100%; transition-delay:0s;}
#search-con.open ::-webkit-scrollbar {display:none;}
#search-con.open .inner-cell {left:0; right:auto; width:100%;}
#search-con.open .inner-data {left:0; right:auto;-ms-transform: translate(0%, 0%); transform: translate(0%, 0%);}
#search-con.close .inner-data {-ms-transform: translate(0%, 0%); transform: translate(0%, 0%); transition-duration:0.95s;}
#search-con .inner {height:100%; overflow:auto;}
#search-con .inner-cell {position:absolute; top:0; right:0; display:block; width:0; height:100%;transition:width 0.95s cubic-bezier(0.785, 0.135, 0.150, 0.860); background-color:#fff; overflow:auto;}
#search-con .inner-data {position:absolute; top:0; right:0; -ms-transform: translate(0%, 0%); transform: translate(%, 0%); transition:transform 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940);}

#search-con .sea-wrap {background:#004a98; height:300px; width:100%;}
#search-con .sea-wrap .search {display:inline-block;}
#search-con .sea-wrap form {position: relative; width: 100%; margin: 0 auto; border-bottom: 2px solid #fff; }
#search-con .sea-wrap input{width: 100%; height: 42px; padding-left: 10px; border:none; outline: none; background: none; color:#fff; font-size:16px; letter-spacing:-2px;}
#search-con .sea-wrap button {position: absolute; top: 0; right: 0px; width: 24px; height: 42px; border: none; cursor: pointer; background: url(/index/images/btn_search-098643816e853ac52d837a4cafea35aa.png) right center no-repeat; outline: none; }
#search-con .container {width:1200px; margin:0 auto;}
#search-con .top {width:1200px; margin:0 auto; padding:100px; position:relative;}
#search-con .sea-txt {position:absolute; left:0; top:0;}
#search-con .sea-txt-wrap {position:relative;}
#search-con .sea-txt {position:absolute; left:0; top:0; font-size:40px; color:#fff; font-weight:bold; width:100%;}
#search-con .sea-txt p {display:inline-block; position:relative; margin-right:20px; }
#search-con .sea-txt p button.btn-close {position:absolute; right:-20px; top:-10px; background:none;}



.sitemap-list-wrap {position:relative; width:100%; height:100%; z-index:5;}
.sitemap-list-wrap .map-list > ul {padding:0 105px;}
.sitemap-list-wrap .map-list > ul:after {content:''; display:block; clear:both;}
.sitemap-list-wrap .map-list > ul > li {float:left; width:20%; padding:0 20px; box-sizing:border-box;}
.sitemap-list-wrap .map-list dt {padding-bottom:34px; border-bottom:2px solid #e5e5e5; font-size:36px; color:#222; font-weight:500; line-height:40px; letter-spacing:-0.1em;}
.sitemap-list-wrap .map-list dt span {display:block; margin-bottom:15px; font-size:18px; font-family:'Roboto'; color:#aaa; line-height:18px; font-weight:400; letter-spacing:8.8px;}
.sitemap-list-wrap .map-list dt + dd {margin-top:30px;}
.sitemap-list-wrap .map-list dd {margin-top:18px;}
.sitemap-list-wrap .map-list dd a {display:inline-block; height:36px; font-size:18px; color:#666; line-height:36px; box-sizing:border-box; border-bottom:3px solid #fff}
.sitemap-list-wrap .map-list dd a:hover {color:#004a98; font-weight:700; border-bottom-color:#004a98;}


.tit-tab-wrap {width:100%; border-bottom:1px solid #e0e0e0;}
.tlt_tab {width: 1200px; display: table; table-layout: fixed; height: 70px; margin-top:20px;}
.tlt_tab li {display: table-cell; line-height: 68px; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.tlt_tab li span {cursor: pointer; color:#bbb; font-size:22px; font-weight:400; letter-spacing:-1px}
.tlt_tab li.active span{font-size:22px; color:#222; font-weight:bold; border-bottom:3px solid #004a98; padding-bottom:18px;}
.list-top {padding: 100px 0 30px;}
.list-top .txt01 {font-size: 30px; color:#004a98; font-weight:bold; margin-right:20px; display:inline-block; letter-spacing:-1px;}
.list-top .txt02 {font-size:15px; color:#a1a1a1;  display:inline-block; margin-top:15px}
.list-top .txt02 span {color:#004a98;}
.list-top .txt03 {float:right; font-size:15px; display:inline-block; margin-top:15px}
.search_result_list {overflow: hidden;}
.search_result_list li {width: 285px; float: left; margin-left: 20px;}
.search_result_list li:first-child, .search_result_list li:nth-child(4n+1) {margin-left: 0;}
.search_result_list .img_area {width: 283px; height: 283px; border: 1px solid #e5e5e5; cursor: pointer;}
.img_area {display: block;}
.search_result_list .pro_info {margin: 30px 0 50px;}
.search_result_list li .pro_info .title_area {font-size: 20px; color: #222; line-height: 29px;}

.search-result:last-child {margin-bottom:160px;}
.search_result_list li .pro_info .title_area p {font-size:20px; color:#222; overflow: hidden; text-overflow: ellipsis; white-space: pre;}
.search_result_list li .pro_info .title_area a {font-size:20px; color:#222;}
.search_result_list li .pro_info .title_area a span {color:#ee0808;}


.list-nodata {width:100%; height:220px; border:1px solid #e0e0e0; text-align:center; display:table}
.list-nodata p {display:table-cell; font-size:20px; vertical-align: middle;}

.btn_sitemap_close {position:absolute; top:50px; right:50px; display:block; width:58px; height:58px; background:#fff url(/index/images/btn_sitemap_close-22441a4bc7a88429e91ff42b456b80c0.png) center center no-repeat; border:1px solid #ddd; z-index:50; cursor:pointer; outline:none;}
.btn_search_close {position:absolute; top:50px; right:50px; display:block; width:58px; height:58px; background: url(/index/images/btn_search_close-7c03bb08f6b6e7b2c9ef93d47850707e.png) center center no-repeat; border:1px solid #ddd; z-index:50; cursor:pointer; outline:none;}

.search-wrap {position:absolute; /*top:41px;*/ top:50px; right:50px; /*width:283px;*/ height:53px; /*background:url(/index/images/top_search-c101628cce4b6a5590b4a17abcba4fac.png) left top no-repeat;*/ display:table;}
.search-wrap a {display:inline-block; margin-right:10px;}
.search-wrap .search {display:inline-block;}
.search-wrap form {position: relative; width: 220px; margin: 0 auto; border-bottom: 2px solid #fff; }
.search-wrap .search input {width: 100%; height: 42px; padding-left: 10px; border:none; outline: none; background: none; color:#fff; font-size:16px; letter-spacing:-2px;}
.search-wrap .search button {position: absolute; top: 0; right: 0px; width: 24px; height: 42px; border: none; cursor: pointer; background: url(/index/images/btn_search-098643816e853ac52d837a4cafea35aa.png) right center no-repeat; outline: none; }


.inner {position:relative; max-width:1920px; margin:0 auto;}

#header {position:fixed; top:0; left:0; width:100%; z-index:100;}
#header h1 {position:absolute; top:50px; left:50%; display:block; width:114px; height:45px; margin-left:-57px;}



.e-wrap{opacity:0;transform: translate3d(0px, 70px, 0px);transition:opacity 1.45s, transform 0.95s cubic-bezier(0.250, 0.460, 0.450, 0.940)}
.e-wrap.open {transform: translate3d(0px, 0px, 0px);opacity:1}

#main {position:relative; max-width:1920px; margin:0 auto; overflow:hidden; text-align:center;}
#main .con-title {font-family:'Roboto'; font-size:60px; line-height:64px; font-weight:500; color:#fff; letter-spacing:0.001em;}
#main .con-title-info {font-size:16px; line-height:30px; font-weight:400; color:#fff; margin-top:23px;}
#main .con-title-info > span {opacity:0.5;}


.main-life {position:relative; min-height:990px; min-width:1240px;padding:153px 0 0 0; background:url(/index/images/main_life_bg-86de7187cf9c5218d2b9ba4a2e97f439.jpg) center center no-repeat; background-size:cover; box-sizing:border-box;}
.main-life .con-title-info {margin-top:15px !important;}
.main-life .obj01 {margin-top:20px; position:relative;}


/*
.main-life .obj01 p.type01 {color:#fff; font-size:20px; font-weight:bold; letter-spacing:6px; line-height:1.4; margin-left:8px;}
.main-life .obj01 p.type02 {color:#fff; font-size:20px; font-weight:bold; letter-spacing:2px; line-height:1.4;}
*/
.main-life .obj01 p.type03 {color:rgba(255, 255, 255, 0.9); font-size:16px; font-weight:400; letter-spacing:0px; line-height:1.4;}
.main-life .obj01 span {color:rgba(255, 255, 255, 0.6); font-size:16px; font-weight:400; letter-spacing:-1px; line-height:2; display:inline-block;}
.main-life .obj01 span.type02 {color:#fff; font-size:20px; font-weight:bold; letter-spacing:0px; line-height:2; display:inline-block;}
/*
.main-life .obj01 .link01 {position:absolute; top:129px; left:185px;}
.main-life .obj01 .link02 {position:absolute; top:266px; left:351px;}
.main-life .obj01 .link03 {position:absolute; top:340px; left:11px;}
.main-life .obj01 .link04 {position:absolute; top:423px; left:221px;}
.main-life .obj01 .link05 {position:absolute; top:318px; left:872px;}
.main-life .obj01 .link06 {position:absolute; top:410px; left:1071px;}
.main-life .obj01 .link07 {position:absolute; top:161px; left:1202px;}
.main-life .obj01 .link08 {position:absolute; top:319px; left:1098px;}
.main-life .obj01 .link09 {position:absolute; top:120px; left:1387px;}
.main-life .obj01 .link10 {position:absolute; top:334px; left:1530px;}
.main-life .obj01 .link11 {position:absolute; top:252px; left:570px;}
 */

/* 191106 */
.main-life .obj01 p.type01 {color:#fff; font-size:20px; font-weight:bold; line-height:1.4; margin-left:8px;}
.main-life .obj01 p.type02 {color:#fff; font-size:15px; font-weight:bold; line-height:1.4;}
.main-life .obj01 p.type02 + span {font-size: 13px;}
.main-life .obj01 span {letter-spacing: 0;}
.main-life .obj01 .link01 {position:absolute; top:70px; left:232px;}
.main-life .obj01 p.type02 + span {font-size: 13px;}


/* 200427 */
.main-life .obj01 .link02 {position:absolute; top:220px; left:340px;}
.main-life .obj01 .link03 {position:absolute; top:440px; left:178px;}
.main-life .obj01 .link04 {position:absolute; top:395px; left:-7px;}
.main-life .obj01 .link05 {position:absolute; top:295px; left:735px;}
.main-life .obj01 .link06 {position:absolute; top:380px; left:860px;}
.main-life .obj01 .link07 {position:absolute; top:200px; left:977px;}
.main-life .obj01 .link08 {position:absolute; top:320px; left:1088px;}
.main-life .obj01 .link09 {position:absolute; top:120px; left:1387px;}
.main-life .obj01 .link10 {position:absolute; top:160px; left:1192px; width: 60px;}
.main-life .obj01 .link11 {position:absolute; top:240px; left:525px;}

.link-any a {-webkit-transition: all 0.5s linear; transition: all 0.5s linear; display:block;}
.link-any a:before{content: ''; border-bottom: solid 1px white; position: absolute; top: 0; width: 0;}
.link-any a:after {content: ''; border-bottom: solid 1px white; position: absolute; bottom: 0; width: 0;}
.link-any a:before { left: 0; }
.link-any a:after { right: 0; }
.link-any a:hover:before, .link-any a:hover:after {width: 100%;}

.link-any a:before, .link-any a:after {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.link-any a:hover {
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}
/* 0906// */


.main-innovation {position:relative; min-height:990px; padding:240px 0 0 0; background:url(/index/images/main_innovation_bg-1665a7593f56f4035898200761cf5aad.jpg) center center no-repeat; background-size:cover; box-sizing:border-box;}
.main-innovation .txt01 {margin-top:124px; padding:0 50px; min-width: 1240px;}
.main-innovation .txt01 {margin-top:124px; padding:0 50px;}
.main-innovation .txt01:after {content:''; clear:both; display:block;}
.main-innovation .txt01 > li {position:relative; float:left; width:25%; height:210px;}
.main-innovation .txt01 > li:after {content:''; position:absolute; top:0; left:0; display:block; width:2px; height:210px; background:#fff; opacity:0.15; margin:0 0 0 -1px;}
.main-innovation .txt01 > li:first-child:after {display:none;}
.main-innovation .txt01-01 {font-size:16px; opacity:0.5; color:#fff; margin-top:16px;}
.main-innovation .txt01-02 {font-family:'Roboto'; font-weight:700; color:#fff; height:90px; font-size:90px; line-height:90px; margin-top:16px;}
.main-innovation .txt01-03 {font-weight:500; color:#fff; font-size:22px; line-height:35px;}
.main-innovation .txt01-02 > span {font-family:'Noto Sans KR'; display:inline-block; font-size:25px; line-height:1; vertical-align:baseline;margin-left:7px;}
.main-group {position:relative; min-height:768px;  box-sizing:border-box; min-width:1240px;}
.main-group .video-wrap {position:absolute;  top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover; overflow:hidden; text-align:center;}
.main-group .video-data {position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.main-group .video-data video {position:absolute; top:0; left:0; width:100%; height:100%;}
.main-group .video-wrap:before {content:''; position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:#000; opacity:0.4; z-index:3;}

.number-format {display:inline-block;}
.number-format > div {position:relative; display:inline-block; letter-spacing:normal; overflow:hidden;}
.number-format > div > p {position:relative; top:0; left:0;}
.number-format > div > p > span {display:block;}
.number-format > div{font-family:'Roboto'; font-weight:700; color:#fff; height:90px; font-size:90px; line-height:90px;}

.content-wrap {position:absolute; top:0; right:0; bottom:0; left:0; display:block; width:auto; height:auto; margin:auto 50px; z-index:10;}
.content-wrap > div {position:absolute; height:100%; overflow:hidden; z-index:1;}
.content-wrap .holdings {width:20%; left:0%;}
.content-wrap .pharma {width:20%; left:20%;}
.content-wrap .chemical {width:20%; left:40%;}
.content-wrap .bio {width:20%; left:60%;}
.content-wrap .healthfood {width:20%; left:80%;}
.content-wrap .title-wrap {position:absolute; top:0; left:0; width:100%; height:100%; z-index:5;}
.content-wrap .title-data {position:absolute; top:50%; left:50px; width:calc(100% - 100px); height:111px; box-sizing:border-box; text-align:left; -ms-transform: translate(0%, -50%); transform: translate(0%, -50%); z-index:5;}
.content-wrap .title-data .en-brand-name {font-size:18px; font-family:'Roboto'; line-height:20px; color:#fff; opacity:0.4; letter-spacing:3.0px; white-space:nowrap;}
.content-wrap .title-data .kr-brand-name {margin-top:14px; font-size:36px; line-height:40px; color:#fff; font-weight:500; letter-spacing:-0.1em; white-space:nowrap;}
.content-wrap .title-data .line {position:absolute; bottom:0; left:0; display:block; width:0; height:2px; background:#fff; opacity:0.2;}
.content-wrap .title-cell {position:relative; width:0; height:100%; overflow:hidden;}
.content-wrap .visual-wrap {position:absolute; top:0; left:0; display:block; width:0; height:100%; z-index:1; overflow:hidden; transition:width 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.content-wrap .visual-wrap .obj {position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.content-wrap .visual-wrap:after {content:''; position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:rgba(0,0,0,0.5); opacity:0;}
.content-wrap .holdings .visual-wrap .obj {background-image:url(/index/images/main_visual_holdings-ea6a410e98060b7acc93a6ffeff17017.jpg);}
.content-wrap .pharma .visual-wrap .obj {background-image:url(/index/images/main_visual_pharma-f4fc152d039b10dfacfea4b16e8dcb6d.jpg);}
.content-wrap .chemical .visual-wrap .obj {background-image:url(/index/images/main_chemical-6c94e8685bb0b657c1f6690383630295.jpg);}
.content-wrap .bio .visual-wrap .obj {background-image:url(/index/images/main_visual_bio-443deb6d4f63b4c424e219d42b3889e0.jpg);}
.content-wrap .healthfood .visual-wrap .obj {background-image:url(/index/images/main_visual_healthfood-59786192bcfc42d344a97a50d6518a07.jpg);}
.content-wrap .sub-info {position:absolute; top:100%; left:0; width:100%; display:none;}
.content-wrap .sub-info .txt {padding-top:25px; font-size:16px; color:#fff; opacity:0.8; line-height:26px; word-break:keep-all; opacity:0;}
.content-wrap .sub-info .btn-view {margin-top:35px;opacity:0;}
.content-wrap .detail-data {display:none;position:absolute; top:0; left:0; width:100%; height:100%;}
.content-wrap:before {content:''; position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:auto; height:auto; margin:auto -50px; background:#000; opacity:0; transition:opacity 0.45s ease;}
.content-wrap.hover:before {opacity:0.5;}

.content-data.enter-left .visual-wrap {left:0; right:auto;}
.content-data.enter-left .visual-wrap .obj {left:0; right:auto;}
.content-data.enter-right .visual-wrap {left:auto; right:0;}
.content-data.enter-right .visual-wrap .obj {left:auto; right:0;}
.content-data.leave-left .visual-wrap {left:0; right:auto;}
.content-data.enter-left .visual-wrap .obj {left:0; right:auto;}
.content-data.leave-right .visual-wrap {left:auto; right:0;}
.content-data.leave-right .visual-wrap .obj {left:auto; right:0;}

.content-data.hover .visual-wrap {width:100%;}

.btn-detail {position:relative; display:block; width:180px; height:50px; border:2px solid #fff; box-sizing:border-box; outline:none; background:none; cursor:pointer;}
.btn-detail > span {position:relative; display:block; padding:0 17px; font-family:'Noto Sans KR'; font-size:14px; line-height:46px; color:#fff; font-weight:500; text-align:left;}
.btn-detail > span:before {content:''; position:absolute; top:50%; right:18px; display:block; width:21px; height:7px; margin-top:-4px; background:url(/index/images/btn_detail_arrow-050142dedc087c52a79e3bfc67eb618a.png) left top no-repeat;}

.content-detail {position:fixed; top:0; left:100%; right:0; bottom:0; display:block; width:auto; height:auto; z-index:500; overflow:hidden;}
/*.content-detail.scroll {overflow-y:scroll;}*/
.content-detail.scroll .detail-data .detail-content-scroll {overflow-y:scroll;}
.content-detail:before {content:''; position:absolute; top:0; right:50%; display:block; width:0; height:100%; background-repeat:no-repeat; background-position:center right -960px; transition:width 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.content-detail:after {content:''; position:absolute; top:0; left:50%; display:block; width:0; height:100%; background-repeat:no-repeat; background-position:center left -960px; transition:width 1.25s cubic-bezier(0.250, 0.460, 0.450, 0.940);}
.content-detail .inner {position:relative; height:100%; z-index:5;}
.content-detail.holdings:before {background-image:url(/index/images/content_detail_holdings-d54c85a36f59845025c42c4433bf3305.jpg);}
.content-detail.holdings:after {background-image:url(/index/images/content_detail_holdings-d54c85a36f59845025c42c4433bf3305.jpg);}

.content-detail.pharma:before {background-image:url(/index/images/content_detail_pharma-cbc0ad82a946e3336cc0f4cebc27415d.jpg);}
.content-detail.pharma:after {background-image:url(/index/images/content_detail_pharma-cbc0ad82a946e3336cc0f4cebc27415d.jpg);}

.content-detail.chemical:before {background-image:url(/index/images/content_detail_chemical-ab4179de8052280b9ca5bd4c5613aa12.jpg);}
.content-detail.chemical:after {background-image:url(/index/images/content_detail_chemical-ab4179de8052280b9ca5bd4c5613aa12.jpg);}

.content-detail.bio:before {background-image:url(/index/images/content_detail_bio-15a33051e7f906b93ce7117a2a7c6d1c.jpg);}
.content-detail.bio:after {background-image:url(/index/images/content_detail_bio-15a33051e7f906b93ce7117a2a7c6d1c.jpg);}

.content-detail.healthfood:before {background-image:url(/index/images/content_detail_healthfood-f97b9db618d8e4cef8622549b00c5086.png);}
.content-detail.healthfood:after {background-image:url(/index/images/content_detail_healthfood-f97b9db618d8e4cef8622549b00c5086.png);}

.content-detail.open {left:0;}
.content-detail.open:before {width:960px; transition-delay:0.5s;}
.content-detail.open:after {width:960px; transition-delay:0.5s;}
.content-detail.close:before {width:0; transition-delay:0.3s; transition-duration:0.95s}
.content-detail.close:after {width:0; transition-delay:0.3s; transition-duration:0.95s}

.page-data {position:absolute; top:200px; left:50%; margin-left: -600px; z-index:5;}
.page-data .title {position:relative; width:100%;overflow:hidden;}
.page-data .en-brand-name {font-size:20px; font-family:'Roboto'; line-height:25px; color:#fff; opacity:0.5; letter-spacing:3.0px; white-space:nowrap;}
.page-data .kr-brand-name {margin-top:13px; font-size:80px; line-height:90px; color:#fff; font-weight:700; letter-spacing:-0.01em; white-space:nowrap;}
.page-data .txt {padding-top:24px; font-size:16px; color:#fff; opacity:0.5; line-height:30px; word-break:keep-all;}
.page-data .btn-view {margin-top:24px;}

.detail-data {position:relative; width:100%; height:100%; overflow:hidden;box-sizing:border-box;}
.detail-data .bar {position:relative; display:block; width:683px; height:2px; opacity:1; margin-left:-370px; margin-top:30px;}
.detail-data .bar span {position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:#fff;}
/*
.detail-data .detail-content-scroll {position:absolute; top:0; left:0; width:100%; height:100%; z-index:0;}
.detail-data .detail-content-scroll.scroll {overflow-y:scroll;}
*/

.detail-data .detail-content-scroll {position:absolute; top:0; left:0; width:100%; height:100%; z-index:0; overflow-x:hidden;overflow-y:hidden;}
.detail-data .scroll-inner-wrap {position:relative; max-width:1200px; margin:0 auto; padding-bottom:70px;}
.detail-data .scroll-inner-wrap:after {content:''; clear:both; display:block;}


.detail-data .scroll-inner-wrap > ul {float:right; padding-left:50px;}
.detail-data .scroll-inner-wrap > ul.second {padding-top:70px;}
.detail-data .scroll-inner-wrap > ul > li {margin-top:50px; position:relative;}
.detail-data .scroll-inner-wrap > ul > li img {box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);}
.detail-data .scroll-inner-wrap > ul > li:first-child {margin-top:0;}
.detail-data .scroll-inner-wrap > ul > li > div {position:absolute; top:40px; right:30px;}
/* 0909 */
.detail-data .scroll-inner-wrap > ul > li > div.scroll > ul > li {margin:4px; float:left;}
.detail-data .scroll-inner-wrap > ul > li > div.scroll > ul > li > a.on {width:12px; height:12px; background:url(/index/images/bullet_on-5010b12b129327545694267f1ca942e8.png)50% no-repeat;}
.detail-data .scroll-inner-wrap > ul > li > div.scroll > ul > li > a {width:12px; height:12px; background:url(/index/images/bullet-53333d02955b609a7407e27bb00f1f96.png)50% no-repeat; display:block;}
/* 0909 */

/*.scroll-inner-wrap {}
.scroll-inner-wrap ul.scrol {float:right; width:812px
}
.scroll-inner-wrap ul.scrol li {margin-bottom:40px; width:364px; float:right;}
.scroll-inner-wrap ul.scrol li:after {clear:both; content:""; display:block}
/*.scroll-inner-wrap ul.scrol li:nth-child(odd) {float:right;}
.scroll-inner-wrap ul.scrol li:nth-child(even) {float:left; margin-right:50px;}*/
/*.scroll-inner-wrap ul.scrol li:first-child {}
.scroll-inner-wrap ul.scrol li:nth-child(2) {margin-top:50px;}
.scroll-inner-wrap ul.scrol li .slider-wrap {position:relative;}
.scroll-inner-wrap ul.scrol li .slider-wrap .bullet-wrap {position:absolute; top:40px;}
.scroll-inner-wrap ul.scrol li .slider-wrap .bullet-wrap ul > li {margin:4px; float:right; width:inherit;}*/

.main-visual {overflow:hidden; background-color:#333;}
.main-visual .item-big > ul {position:absolute; top:0; left:0; width:100%; height:100% }
.main-visual .item-big > ul > li {position:absolute; top:0; left:0; width:100%; height:100% }
.main-visual .item-big {position:absolute; top:0; left:0; width:100%; height:100%; z-index:1;}
.main-visual .item-big .visual {position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover; overflow:hidden; text-align:center;}
.main-visual .item-big .txt-wrap {position:relative; max-width:1240px; margin:0 auto; height:100%; z-index:5; text-align:left;}
.main-visual .item-big .txt-parent {display:table; width:100%; height:100%;table-layout:fixed;}
.main-visual .item-big .txt-children {display:table-cell; width:100%; height:100%; vertical-align:middle;}
.main-visual .video-wrap {position:absolute;  top:0; left:0; width:0; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover; overflow:hidden; text-align:center;}
.main-visual .video-data {position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.main-visual .video-data video {position:absolute; top:0; left:0; width:100%; height:100%;}
.main-visual .video-wrap:before {content:''; position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:#000; opacity:0.4; z-index:3;}
.main-visual .txt-01 {font-size:90px; line-height:100px; font-weight:500; color:#fff; font-family:'Roboto';}
.main-visual .txt-02 {margin-top:22px; font-size:16px; line-height:30px; color:#fff; }
.main-visual .txt-02 > span {opacity:0.5;}
.main-visual .txt-02 + .txt-02 {margin-top:30px;}
.main-visual .txt-03 {font-size:90px; line-height:100px; font-weight:500; color:#fff;}
.main-visual .txt-btn {margin-top:42px;}

.main-visual .btn-control {position:absolute; top:50%; display:block; width:24px; height:44px; margin-top:-22px; z-index:100; opacity:0.4; transition:opacity 0.5s ease; background-repeat:no-repeat; background-position:left top;}
.main-visual .btn-control:hover {opacity:1;}
.main-visual .btn-control.btn-prev {left:50%; margin-left:-860px; z-index:100; background-image:url(/index/images/btn_main_banner_prev-a17ebd80a84a43ca8a9022a1499d914a.png);}
.main-visual .btn-control.btn-next {right:50%; margin-right:-860px; z-index:100; background-image:url(/index/images/btn_main_banner_next-c9293b572924bb88da31430878f5c05b.png);}
.main-visual .txt-effect {opacity:0;}

/*
.main-visual .visual-01 {background-image:url(/index/images/main_visual_01-4a95751956f3c3b55fd446f342d70aec.jpg);}
.main-visual .visual-02 {background-image:url(/index/images/main_visual_02-f697ea6dc89b0551537670b0fe1e3de8.jpg);}
.main-visual .visual-03 {background-image:url(/index/images/main_visual_03-10944acb5790da0ef933e8f17154e966.jpg);}
.main-visual .visual-04 {background-image:url(/index/images/main_visual_04-2b167e134edf080cebaf6257628560a0.jpg);}
.main-visual .video-data video{opacity:0;}
*/

.copy{position:absolute; bottom:0; left:0; width:100%; padding:50px 0; display:block; font-size:12px; line-height:14px; text-align:center; color:#fff; opacity:0.4; z-index:50;}

/* //0906 */
.scroll-info {position:absolute; bottom:46px; left:0; display:block; width:100%; height:16px; font-size:12px; color:#fff; font-family:'Roboto'; letter-spacing:0.5em; line-height:16px ;text-align:center; z-index:150; padding-top:47px; background:url(/index/images/scroll_info_arrow-9295871484dd2c6bed7320b275e8cafb.png) center top no-repeat;}

/*a.scroll-info {position:absolute; bottom:46px; left:0; display:block; width:100%; height:16px; font-size:12px; color:#fff; font-family:'Roboto'; letter-spacing:0.5em; line-height:16px ;text-align:center; z-index:150; padding-top:47px; background:url(/index/images/scroll_info_arrow-9295871484dd2c6bed7320b275e8cafb.png) center top no-repeat;}
a.scroll-info:hover {color:#fff; background:url(/index/images/scroll_info_arrow-9295871484dd2c6bed7320b275e8cafb.png) center top no-repeat;}*/
/* 0906// */


/*--- paging ---*/
.paging {text-align: center; margin:0; margin-bottom:160px}
.paging > a{display:inline-block;vertical-align: bottom;width: 50px;height: 50px;line-height: 50px;text-align: center;}
.paging > a img {vertical-align: middle;}
.paging > ul{display:inline-block;overflow:hidden; margin: 0 10px;}
.paging > ul >li {float:left; width:50px; height:50px; text-align: center;}
.paging > ul >li >a{display:block; line-height: 50px; font-size:18px; color:#222;}
.paging > ul >li.on{background:#004a99;}
.paging > ul >li.on >a {color:#fff}

/*--- popup layer 190923 추가 ---*/
.pop-layer { display: none; position: absolute; top: 50%; left: 50%; z-index: 1000; width: auto; width:1100px; height: 750px; background-color: rgba(255,255,255,.9); }
.dim-layer { display: none; position: fixed; _position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; }
.dim-layer .dimBg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .5; filter: alpha(opacity=50); }
.dim-layer .pop-layer { display: block; }
.pop_header { text-align: right; }
.pop_con_wrap { padding: 10px 50px 0 50px; }
.pop_con_wrap .tit { font-size: 30px; color: #222; font-weight: 600; margin-bottom: 50px; }
.pop_con_wrap .small { font-size: 20px; color: #004a99; font-weight: 600; margin-bottom: 15px; }


/* 191001 */
@keyframes blink {
 0% {opacity:0.5;}
 50% {opacity:1;}
}

/* for Chrome, Safari */
@-webkit-keyframes blink {
0% {opacity:0.5;}
 50% {opacity:1;}
}
.blinkcss {
 animation: blink 1s step-end infinite;
 -webkit-animation: blink 1s step-end infinite;
}

/* 191002 */
.shortcut {position:fixed; bottom:0; right:0; width:200px; height:200px; background:#222; display:table; z-index:13;}
.shortcut::after {content:""; display:block; position:absolute; width:28px; height:28px; top:30px; right:30px; background:url("/index/images/shorcut-30a93eee39e4a6f1f4172ff1723ac67f.png")50% no-repeat;}
.shortcut.ckd{background:linear-gradient(135deg, rgba(0,74,152,1) 0%, rgba(19, 78, 127,1) 30%, rgba(170, 183, 228,1) 100%);} /* 종근당 건강 */
.shortcut.kb{background:linear-gradient(90deg, rgba(166, 192, 254,1) 0%, rgba(246, 128, 132,1) 100%);} /* 경보제약 */
.shortcut.bio{background:linear-gradient(135deg, rgba(145,195,0,1) 0%, rgba(134,178,0,1) 30%, rgba(0,205,111,1) 100%);} /* 종근당바이오 */
/*.shortcut.hc{background:linear-gradient(135deg, rgba(88, 26, 215,1) 0%, rgba(0, 17, 147,1) 30%, rgba(62, 209, 246,1) 100%);}*/
.shortcut.hc{background-color: #005295} /* 종근당건강 */
.shortcut.hds{background:linear-gradient(90deg, rgba(204, 153, 0,1) 0%, rgba(135, 65, 17,1) 100%);} /* 종근당홀딩스 */
.shortcut .txt-wrap {display:table-cell; vertical-align:bottom; padding:42px; text-align:left;}
.shortcut p {color:#fff; line-height:1.4;}
.shortcut .txt01 {font-size:22px; font-weight:bold}
.shortcut .txt02 {font-size:22px; font-weight:400;}

/* 200225 추가 */
.shortcut.kb:after,
.shortcut.bio:after {
  top: 40px;
}
.shortcut .btn_kr {
  display: table;
  width: 200px;
  height: 160px;
}
.shortcut .btn_en {
  display: block;
  width: 200px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
  line-height: 40px;
}

/* 20200210 추가 - 메인 해상도(1366x768)에 반응 */
@media (max-width:1366px) {
  /* 종근당그룹 이미지 버튼 */
  .main-life .obj01 img {
    width: 100%;
    min-width: 1366px;
  }
  .main-life .obj01 .link01 {
    top: 70px;
    left: 290px;
  }
  .main-life .obj01 .link02 {
    top: 196px;
    left: 390px;
  }
  .main-life .obj01 .link03 {
    top: 344px;
    left: 104px;
  }
  .main-life .obj01 .link04 {
    top: 390px;
    left: 238px;
  }
  .main-life .obj01 .link05 {
    top: 176px;
    left: 726px;
  }
  .main-life .obj01 .link06 {
    top: 336px;
    left: 834px;
  }
  .main-life .obj01 .link07 {
    top: 170px;
    left: 934px;
  }
  .main-life .obj01 .link08 {
    top: 284px;
    left: 1030px;
  }
  .main-life .obj01 .link09 {
    top: 110px;
    left: 1100px;
  }
  .main-life .obj01 .link10 {
    top: 290px;
    left: 1210px;
  }
  .main-life .obj01 .link11 {
    top: 190px;
    left: 550px;
  }

  /* 하단 그룹사 버튼 */
  .content-wrap .title-data {
    left: 25px;
    width: calc(100% - 50px);
  }
  .content-wrap .title-data .en-brand-name {
    letter-spacing: 5px;
  }

  /* 사이드 메뉴 */
  #sitemap h3 {
    width: 160px;
  }
  #sitemap h3 span {
    padding: 0 10px;
    letter-spacing: 4px;
  }
  #sitemap h3 span:before {
    right: 0;
    width: 32px;
  }
  #sitemap .inner-data {
    padding-left: 160px;
  }
  .sitemap-list-wrap .d-t {
    min-width: 1200px;
  }
  .sitemap-list-wrap .map-list > ul > li {
    padding: 0 10px;
  }
  .sitemap-list-wrap .map-list dt {
    font-size: 32px;
  }
  .sitemap-list-wrap .map-list dt span {
    letter-spacing: 5px;
  }
  .btn_sitemap_close {
    top: 25px;
    right: 25px;
  }
}

/* 210125 추모관 적용 */
.memory_popup {
  z-index: 9999;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 330px;
}
.memory_popup img {
  width: 100%;
}


/* 210503 팝업 - 앞으로 공통으로 사용 */
.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.event_popup {
  z-index: 9999;
  position: absolute;
  left: 20px;
  top: 20px;
}
.event_popup .inner {
  position: relative;
}
.event_popup .btns {
  position: absolute;
  bottom: 69px;
  left: 50%;
  transform: translateX(-50%);
}
.event_popup .btns a {
  display: block;
  width: 460px;
  height: 79px;
  margin-top: 17px;
}